@media (max-width: 991px) {
  .header {
    justify-content: space-around;
  }
  .promo {
    &__wrapper {
      margin-right: 25px;
    }
  }
  .avantage {
    &__header {
      font-size: 28px;
    }
    &__descr {
      font-size: 12px;
    }
  }
  .title {
    text-align: center;
    font-size: 25px;
    line-height: 45px;
  }
  .consultation {
    &__descr {
      display: none;
    }
  }
  .feed-form {
    &_block {
      display: block;
      margin: 0 auto;
      margin-top: 90px;
      input {
        width: 300px;
      }
    }
  }
  .carousel {
    padding: 81px 0;
    &__inner {
      width: 700px;
    }
  }
  .catalog {
    &__content {
      justify-content: space-around;
    }
  }
  .footer {
    &__info {
      width: 400px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__contacts {
      display: none;
    }
    &__logo {
      width: 230px;
    }
    &__official {
      span {
        font-size: 16px;
      }
    }
  }
  .promo {
    padding-bottom: 40px;
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0;
      margin-top: 80px;
    }
    &__header {
      font-size: 38px;
    }
    &__subheader {
      font-size: 20px;
    }
  }
  .avantage {
    padding: 50px 0 35px 0;
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__subheader {
      margin-top: 15px;
    }
    &__descr {
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
  .button {
    &_main {
      margin-top: 120px;
    }
  }
  .title {
    text-align: center;
    font-size: 22px;
  }
  .catalog {
    &__tab {
      width: 150px;
      font-size: 16px;
    }
  }
  .footer {
    &__info {
      width: 400px;
    }
  }
  .modal {
    &__close {
      right: 30px;
      padding-top: 15px;
    }
  }
  .feed-form {
    margin-top: 15px;
  }
}
@media (max-width: 661px) {
  .carousel {
    &__inner {
      width: 350px;
      img {
        width: 60%;
      }
    }
  }
  .review {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__foto {
      img {
        max-width: 80%;
      }
    }
  }
  .footer {
    &__info {
      width: 400px;
    }
  }
  .modal {
    &__close {
      right: 30px;
      padding-top: 15px;
    }
  }
  .feed-form {
    margin-top: 15px;
  }
}
@media (max-width: 576px) {
  .header {
    &__official {
      display: none;
    }
  }
  .promo {
    padding-top: 30px;
    &__header {
      font-size: 25px;
    }
    &__subheader {
      font-size: 18px;
    }
    &__icons {
      width: 350px;
    }
    &__link {
      font-size: 13px;
    }
  }
  .button {
    &_main {
      margin-top: 120px;
      width: 250px;
      font-size: 15px;
    }
  }
  .avantage {
    &__header {
      font-size: 25px;
    }
  }
  .title {
    text-align: center;
    font-size: 20px;
    line-height: 35px;
  }
  .feed-form {
    &_block {
      display: block;
      margin: 0 auto;
      margin-top: 90px;
      width: 250px;
      input {
        width: 100%;
      }
    }
  }
  .button {
    &_submit {
      font-size: 14px;
    }
  }
  .carousel {
    &__inner {
      width: 500px;
    }
  }
  .footer {
    &__info {
      width: 400px;
    }
  }
  .modal {
    &__close {
      right: 30px;
      padding-top: 15px;
    }
  }
  .feed-form {
    margin-top: 15px;
  }
}

@media (max-width: 425px) {
  .catalog {
    padding-bottom: 80px;
    &__tabs {
      flex-wrap: wrap;
    }
  }
  .carousel {
    &__inner {
      width: 320px;
    }
  }
  .review {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__foto {
      img {
        max-width: 80%;
      }
      &__item {
        margin-top: 20px;
        margin-left: 23px;
        text-align: left;
      }
    }
  }
  .footer {
    &__info {
      width: 350px;
    }
    &__addr {
      line-height: 30px;
    }
  }
  .modal {
    &__close {
      right: 30px;
      padding-top: 15px;
    }
  }
  .feed-form {
    margin-top: 15px;
  }
}

@media (max-width: 375px) {
  .promo {
    padding-top: 30px;
    &__wrapper {
      margin-top: 90px;
    }
    &__header {
      font-size: 21px;
      line-height: 10px;
    }
    &__subheader {
      font-size: 12px;
      line-height: 10px;
    }
    &__icons {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__icon {
      margin-bottom: 35px;
    }
    &__link {
      font-size: 13px;
    }
  }
  .button {
    &_main {
      margin-top: 40px;
      width: 250px;
      font-size: 15px;
    }
  }
  .avantage {
    &__header {
      font-size: 25px;
    }
  }
  .carousel {
    &__inner {
      width: 250px;
    }
  }
  .review {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      margin-top: 20px;
      margin-left: 23px;
      text-align: left;
    }
    &__foto {
      img {
        max-width: 80%;
      }
    }
  }
  .catalog {
    padding-bottom: 80px;
    &__tabs {
      flex-wrap: wrap;
    }
  }
  .footer {
    &__info {
      width: 300px;
    }
    &__addr {
      line-height: 18px;
    }
    &__phone {
      font-size: 18px;
    }
    &__social-item {
      margin: 0 6px;
    }
  }
  .modal {
    &__close {
      right: 30px;
      padding-top: 15px;
    }
  }
  .feed-form {
    margin-top: 5px;
  }
}

@media (max-width: 320px) {
  .avantage {
    &__header {
      font-size: 22px;
    }
  }
  .promo {
    &__wrapper {
      margin-top: 90px;
    }
  }
  .catalog {
    padding-bottom: 80px;
    &__tabs {
      flex-wrap: wrap;
    }
    &-item {
      width: 250px;
      &__price {
        font-size: 14px;
      }
      &__descr {
        font-size: 18px;
      }
    }
    .title {
      &_black {
        font-size: 18px;
      }
    }
  }
  .button {
    &_mini {
      width: 120px;
    }
  }
  .review {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      margin-top: 20px;
      margin-left: 23px;
      text-align: left;
    }
  }
  .footer {
    &__addr {
      line-height: none;
    }
    &__phone {
      margin-top: 15px;
      font-size: 18px;
    }
    &__social-item {
      margin: 0 6px;
    }
  }
  .modal {
    &__close {
      right: 50px;
      top: 2px;
    }
  }
  .feed-form {
    margin-top: 5px;
  }
}
