.carousel {
  padding: 81px 0;
  &__inner {
    position: relative;
    margin: 0 auto;
    width: 750px;
    img {
      width: 100%;
    }
  }
  .slick-prev,
  .slick-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    font-size: 80px;
    font-weight: 900px;
    color: red;
    text-decoration: none;
    border-radius: none;
    border: none;
    background: #fff;
  }
  .slick-next {
    right: -66px;
    left: auto;
  }
}
